$colorsuccess: #158110;
$colorwarning: #c9a21b;
$colorinfo: #6f676c;
$colorbg: #f8f8f8;
$color-neutral: #FFF;

$blue100: #ecfcfd;
$blue200: #b7eef5;
$blue300: #84dbeb;
$blue400: #54c4de;
$blue500: #25a8d0;
$blue600: #2282a8;
$blue700: #1e5f82;
$blue800: #18415d;
$blue900: #102739;

$flamingo100: #fbecff;
$flamingo200: #fadcff;
$flamingo300: #f6bdff;
$flamingo400: #d078da;
$flamingo500: #b92ecb;
$flamingo600: #9a21aa;
$flamingo700: #791186;
$flamingo800: #4e1155;
$flamingo900: #350d3a;

$green100: #eaf3e2;
$green200: #cbe3b5;
$green300: #add585;
$green400: #91c854;
$green500: #78be20;
$green600: #41a017;
$green700: #32BF00;
$green800: #0a601b;
$green900: #053e1f;

$neutral000: #ffffff;
$neutral100: #eeeef0;
$neutral200: #EEEEEE;
$neutral300: #F5F5F5;
$neutral400: #a19ba2;
$neutral500: #887f87;
$neutral600: #9E9E9E;
$neutral700: #434854;
$neutral800: #CFCFCF;
$neutral900: #222020;
$neutral1000: #000000;
$neutral1100: #262A34;

$orange100: #fff5eb;
$orange200: #ffdab2;
$orange300: #ffc170;
$orange400: #ffab48;
$orange500: #FF6600;
$orange600: #EF6C00;
$orange700: #DB6300;
$orange800: #6a351c;
$orange900: #401f15;

$red100: #feedee;
$red200: #fab9bc;
$red300: #f38789;
$red400: #ea5d58;
$red500: #df382b;
$red600: #b42a27;
$red700: #8b2226;
$red800: #641b21;
$red900: #CC3300;
$red1000: #df3828;

$violet100: #e9d0ff;
$violet200: #c48ff3;
$violet300: #ad63f0;
$violet400: #9040e6;
$violet500: #7808cf;
$violet600: #6c0cae;
$violet700: #570887;
$violet800: #480870;
$violet900: #350c52;

$yellow100: #fff8e2;
$yellow200: #ffebaf;
$yellow300: #fee07d;
$yellow400: #fcd64c;
$yellow500: #f8cc1c;
$yellow600: #c9a21b;
$yellow700: #9c7b18;
$yellow800: #705613;
$yellow900: #46350d;
